*{
    margin:0;
    padding:0;
}
body{
    display:grid;
    grid-template-columns:1fr 25vw;
    grid-template-rows:100px 4fr;
    grid-template-areas:"head"
                        "main"
                    
                        "footer";

}

li{
    display: inline;
}

header{
    grid-area: head;
    background-color: gray;
    & h1{
        display: flex;
        justify-content: center;
        padding: 15px;

    }
    & nav{
        display: flex;
        justify-content: center;
    }
    & a{
        text-decoration: none;
        color: black;
        padding: 10px;
    }
    
}

img{
    height: auto;
    width: 100%;
}

main{
    grid-area: main;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr;
}
footer{
    grid-area: footer;
   justify-content: center;
}
aside{

    padding: 40px;
    background-color: grey;
    & li{
        display: flex;
        flex-direction: column;     
        padding: 7px;  
    }
    & section{
        background-color: grey;
        
    }
}
