*{
    padding: 0;
    margin: 0;
}
main{
    background-image: url("img/fondo6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
  
}
.animation-container{
    display: flex;
    align-items: center;
   
    h1{
        color: #5d5daa;
        font-size: 190px;
        animation: fadeIn 8s ease-in forwards 2s;
        padding: 100px;
    }
    .airplane{
        height: 320px;
        width: 320px;
        background-image: url("img/avion3.png");
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        animation: fly 10s infinite;
        padding-right: 100px;
        
        
    }

}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

@keyframes fly {
   
    0%{
        transform:translate(0,0) rotate(-45deg);  
    }
    
    100%{  
        transform:translate(-1000px,-550px) rotate(-45deg);
    }
    
}

.button-index{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 300px;
    border-radius: 15px;
    background-color: #c3c9fd;
    animation: fadeIn 13s ease-in forwards 2s;
    margin-left: 400px;
   
    
    a{
        color: #5d5daa;
        text-decoration: none;
        padding: 10px;
    }
}